/*
Styles for my hacker news clone
*/

html, body, #app {
   margin: 0;
   height: 100%;
   width: 100%;
}

body {
   font-family: Monaco;
   font-size: 14px;
   background: #fffaf3;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 50px;
}

.dark {
   color: #dadada;
   background: #1c2022;
   min-height: 100%;
}

li {
   list-style-type: none;
}

.row {
   display: flex;
   flex-direction: row;
}

.column {
   display: flex;
   flex-direction: column;
}

.space-between {
   justify-content: space-between;
}

.space-around {
   justify-content: space-around;
}

.nav-link {
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   color: inherit;
}

ul {
   padding: 0;
}

.nav li {
   margin-right: 10px;
}

.post {
   margin-bottom: 1em;
}

.post-title a {
   font-weight: bold;
   color: #20838a;
   font-size: 16px;
}

.post-info {
   font-family: Arial, Helvetica, sans-serif
}

.btn {
   cursor: pointer;
}

.btn-clear {
   border: none;
   background: none;
}

.comments-title {
   font-weight: bold;
   color: #20838a;
   font-size: 32px;
}

.comment {
   border-radius: 4px;
   background-color: #e6e1da;
   border: none;
   padding: 10px;
   margin-bottom: 8px;
}

.comment-dark {
   background-color: #25292b;
}